.bold{
    font-weight: bold;
}

.myBorder{
    height: 25px;
    width: 100%;
}

.myTop{
    padding-top: 25px;
}

.last-border{
    height: 30px;
}

.myBottom{
    padding-bottom: 25px;
}

.profExperience{
    font-weight: bold; padding-bottom: 3px;
}
